.Priority_Questions {
    border: 2px solid red;
    padding: 3px;
    margin: auto;
    height: auto;
}

.addTask {
    cursor: pointer;
}

.schedule {
    position: relative;
    top: 20px;
    border: 2px solid blue;
    margin: auto;
    width: 50%;
    text-align: center;
}

.center {
    position: relative;
    text-align: center;
    padding: 400px 0;
}

#test p {
    -webkit-animation: fadein 3s;
}
#test div {
    -webkit-animation: fadein 7s;
}
#test a {
    -webkit-animation: fadein 8s;
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


