.Priority_Questions {
    border: 2px solid red;
    padding: 3px;
    margin: auto;
    height: auto;
}

.addTask {
    cursor: pointer;
}

.schedule {
    position: relative;
    top: 20px;
    border: 2px solid blue;
    margin: auto;
    width: 50%;
    text-align: center;
}
